#Header {
  padding: 20px;
  margin-bottom: 40px;
}

#title {
  padding: 10px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: #00FFFF;
}

#sub-title {
  padding: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

#content {
  width: 1260px;
  margin: 0 auto;
}

#tab-screen1 {
  display: flex;
  text-align: center;
  font-weight: bold;
  justify-content: flex-end;
}

#saturation-detection {
  width: 220px;
  font-size: 20px;
  color: #00FFFF;
}

#max-person, #person, #saturation {
  width: 196px;
  height: 50px;
  padding: 10px;
  border: 2px solid #00FFFF;
  color: #00FFFF;
  line-height: 50px;
}

#person, #saturation, #text_input {
  margin-top: 40px;
}

#text_input {
  font-size: 16px;
}

#text_input div {
  overflow: hidden;
  margin-bottom: 10px;
}

#text_input p {
  float: left;
}

#text_input input {
  margin-left: 10px;
  width: 120px;
  height: 18px;
  float: left;
}

#webcam {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  object-fit: fill;
  /* 좌우 반전 */
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#canvasCam {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9;
  object-fit: fill;
  /* 좌우 반전 */
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

#present_max {
  display: flex;
  justify-content: center;
}

#present_max div {
  display: none;
  height: 100%;
  line-height: 100px;
  padding: 0px 55px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
}

#low {
  background-color: #259b3f;
}

#proper {
  background-color: #c3c534;
}

#max {
  background-color: #d83a2f;
}